* {
    margin: 0;
    box-sizing: border-box;
}

.background {
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 100vh;
}

.mainDisplay {
    width: calc(40% - 100px);
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.801);
    margin: 100px;
    display: flex;
    justify-items: center;
    border-radius: 30px;
}

.input {
    display: flex;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
}

.input > * {
    margin: 15px;
    outline: none;
    border: none;
}

button {
    height: 20px;
}

#locationInput {
    height: 20px;
}